<MudTabPanel Text="Informations">
    <MudContainer Class="pa-8" MaxWidth="MaxWidth.ExtraLarge">
        <MudPaper Class="pa-10" Outlined>
            <MudStack Class="mb-4" Row AlignItems="AlignItems.Center" Spacing="10">
                <div>
                    <MudTextField T="string" @bind-Text="_name" Class="mark-one" Label="Nomination" ReadOnly Adornment="Adornment.End" AdornmentIcon="@IconsF.Edit"
                                  OnAdornmentClick="@(async () => await EditNameAsync())" Style="width: 400px;"/>
                </div>
                <div>
                    <MudTextField T="string" @bind-Text="_email" Class="mark-one" Label="Email" ReadOnly Adornment="Adornment.End" AdornmentIcon="@IconsF.Edit"
                                  OnAdornmentClick="@(async () => await EditEmailAsync())" Style="width: 400px;"/>
                </div>
                <div>
                    <MudTextField T="string" @bind-Value="_policy" Class="mark-one" Label="Autorisations" ReadOnly Adornment="Adornment.End" AdornmentIcon="@IconsF.Edit"
                                  OnAdornmentClick="@(async () => await EditPolicyAsync())" Style="width: 400px;" />
                </div>
            </MudStack>
        </MudPaper>
    </MudContainer>
</MudTabPanel>