<MudAppBar Fixed Style="@($"background: {ThemeManager.Get("appbar-background")}!important;")">
    <MudIconButton Class="text-white" Icon="@IconsF.Menu" OnClick="@(() => Toggle())" />
    <MudLink Class="white-all" Href="/" Underline="Underline.Hover" Style="text-decoration-color: #fff;">
        <MudText Class="ml-2 text-white mark-one" Typo="Typo.h5">@ThemeManager.Get("name")</MudText>
    </MudLink>
    <MudSpacer />
    @if (_identity != null && _identity.IsAuthenticated)
    {
        <MudStack Class="mr-4" AlignItems="AlignItems.Center" Row>
            <MudText Class="text-white mark-one"><MudIcon Class="mb-n1" Icon="@IconsF.Check" Color="Color.Info" /> Vous êtes connecté</MudText>
        </MudStack>
        <div class="mr-4">
            <MenuProfile></MenuProfile>
        </div>
    }
    else
    {
        <MudButton Class="text-white hoverable mr-4" Href="MicrosoftIdentity/Account/SignIn" Variant="Variant.Text">Se connecter</MudButton>
    }
</MudAppBar>
<MudDrawer @bind-Open="_docked" Variant="DrawerVariant.Temporary" ClipMode="DrawerClipMode.Always" 
           Style="@($"background: {ThemeManager.Get("drawer-background")}!important;")">
    <MudDrawerHeader>
        <MudStack AlignItems="AlignItems.Center" Spacing="4" Row>
            <MudImage Src="@($"/pictures/{ThemeManager.Get("favicon")}")" Alt="Icône" Height="40"/>
            <MudText Class="mark-one" Typo="Typo.h4">Skills</MudText>
        </MudStack>
    </MudDrawerHeader>
    <CascadingValue Name="HeaderInstance" Value="@this">
        <NavMenu />
    </CascadingValue>
</MudDrawer>